body {
font-family : 'Helvetica', sans-serif;
font-size : 12pt;
margin-bottom : 8%;
background : #fff;
color : black;
margin-left : 15%;
margin-right : 15%;
}
h1 {
font-size : 18pt;
font-weight : bold;
color : #70b700;
padding-top : 1em;
text-align : left;
border-bottom : 2px solid #aaa;
}
h2 {
font-size : 16pt;
padding-top : 1em;
border-bottom : 1px solid #ccc;
}
h3 {
font-size : 14pt;
padding-top : 0.5em;
border-bottom : 1px solid #eee;
}
.todo, .deadline {
color : red;
}
.done {
color : green;
}
.tag {
background-color : #eee;
text-align : right;
color : magenta;
font-size : 85%;
}
.timestamp {
padding-left : 2px;
padding-right : 2px;
color : black;
}
.content {
background-color : #fff;
}
h1.title {
text-align : left;
}
.target {
background-color : lavender;
}
.menu {
color : #666;
}
.menu a:link {
color : #888;
}
.menu a:active {
color : #888;
}
.menu a:visited {
color : #888;
}
.figure {
margin-left : 0;
padding-left : 0;
padding-top : 5pt;
padding-bottom : 5pt;
}
.figure p {
text-align : left;
}
a:link {
color : #5a7b00;
}
a:active {
color : #5a7b00;
}
a:visited {
color : #5a7b00;
}
pre {
border-left : 4pt solid #ff8c00;
background-color : #e1ffee;
padding : 5pt;
font-family : courier, monospace;
font-size : 8pt;
}
blockquote {
background-color : #ededed;
padding : 0.4em;
}
table {
border : 0;
border-collapse : collapse;
}
td {
background-color : #eeeeee;
vertical-align : top;
border : 0;
}
th {
background-color : #cccccc;
vertical-align : top;
border : 0;
}
p {
margin-top : 2pt;
margin-bottom : 2pt;
padding-top : 2pt;
padding-bottom : 2pt;
}
div.figure {
margin-top : 1pt;
margin-bottom : 1pt;
padding-top : 1pt;
padding-bottom : 1pt;
}
div.outline-2 {
margin-top : 1pt;
margin-bottom : 1pt;
padding-top : 0;
padding-bottom : 0;
}
dfn {
font-style : italic;
}
.todo {
background-color : red;
padding : 2px;
}
.done, .todo {
color : #fff;
border-radius : 3px;
background-clip : padding-box;
font-size : 80%;
font-family : monospace;
}
#table-of-contents a:link, #table-of-contents a:visited {
color : black;
background : transparent;
}
#table-of-contents {
line-height : 1.2;
}
#table-of-contents h2 {
border-bottom : 0;
}
#table-of-contents ul {
list-style : none;
padding-left : 0;
font-weight : normal;
}
#table-of-contents div > ul > li {
margin-top : 1em;
font-weight : bold;
}
#table-of-contents .tag {
text-align : right;
float : none;
padding : 0;
background-color : #eee;
}
#table-of-contents .todo, #table-of-contents .done {
font-size : 80%;
}
#table-of-contents {
position : fixed;
overflow-y : scroll;
top : 0;
left : 0;
padding : 0 0 0 2em;
width : 270px;
height : 100vh;
font-size : 11px;
background : #eee;
}
body {
margin-left : 300px;
max-width : 90%;
}
.tag span {
    float : right;
padding : 0 4px;
border : 1px #ddd;
border-radius : 3px;
padding : 0px 2px;
color : #888;
background-color : white;
}
.tag {
background-color : white;

}
/* Local Variables: */
/* eval: (when (locate-library "rainbow-mode") (require 'rainbow-mode) (rainbow-mode)) */
/* End: */
